.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 4px;
}

.left-links {
  margin: auto auto auto 0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.right-links {
  margin: auto 0 auto auto;
}

ul {
  list-style-type: none;
  display: inline-flex;
  padding-left: 2px;
}

li {
  margin: 2px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}